body {
	font-family:Microsoft JhengHei;
}

/* Start of Nav bar css */
header {
	position: relative;
	max-width: 1200px;
	margin: 20px auto;
	padding: 10px;
	background: #fff;
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.logo {
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	text-align: center;
	box-sizing: border-box;
	float: left;
}

.navbars {
	float: right;
}

.clearfix {
	clear: both;
}

nav ul {
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li {
	list-style: none;
}

nav ul li a {
	display: block;
	margin: 10px 0;
	padding: 10px 20px;
	text-decoration: none;
	color: #262626;
}

nav ul li a.active,
nav ul li a:hover {
	background: #069370; /* Change color */
	color: #fff; /* Change color */
	transition: 0.5s;
}

@media (max-width: 1200px) {
	header {
		margin: 20px;
	}
}

@media (max-width: 768px) { /* Change max-width you like */
	.menu-toggle {
		display: block;
		width: 40px;
		height: 40px;
		margin: 10px;
		float: right;
		cursor: pointer;
		text-align: center;
		font-size: 30px;
		color: #069370;
	}
	
	.menu-toggle:before {
		content: "\f0c9";
		font-family: fontAwesome;
		line-height: 40px;
	}

	.menu-toggle.active:before {
		content: "\f00d";
	}

	.navbars {
		display: none;
	}
	
	.navbars.active {
		display: block;
		width: 100%;
	}

	.navbars.active ul{
		display: block;
	}

	.navbars.active ul li a{
		margin: 0;
	}
}
/* End of Nav bar css */

.center {
	text-align: center;
}

/* Start of jssor slider css */
.jssorl-009-spin img {
	animation-name: jssorl-009-spin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}


.jssorb052 .i {position:absolute;cursor:pointer;}
.jssorb052 .i .b {fill:#000;fill-opacity:0.3;}
.jssorb052 .i:hover .b {fill-opacity:.7;}
.jssorb052 .iav .b {fill-opacity: 1;}
.jssorb052 .i.idn {opacity:.3;}

.jssora053 {display:block;position:absolute;cursor:pointer;}
.jssora053 .a {fill:none;stroke:#fff;stroke-width:640;stroke-miterlimit:10;}
.jssora053:hover {opacity:.8;}
.jssora053.jssora053dn {opacity:.5;}
.jssora053.jssora053ds {opacity:.3;pointer-events:none;}

.rotate90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}
/* End of jssor slider css */